$color1: #38015c;
$color2: #f1e1fc;
$color3 :#9f5ccc;

.profile-username {
    font-size: 90px;
}

.profile-btn-change {
    background-color: $color1;
    color: $color2;
    width: 12em;
}

.profile-label {
    color: #58566b;
}

.profile-input {
    width: 30em;
    background-color: $color2;
    border-color: $color1;
    height: 35px;
}